<div class="top-div mb-5">
    <div class="pic-div rounded-5 d-flex justify-content-center mt-5 mt-xxl-0">
        <img class="profile-img" src="profile.png" alt="..." />
    </div>

    <div class="text-center my-5">
        <h2 class="display-5 fw-bolder"><span class="text-gradient">Hi! I'm {{name}}</span></h2>
        <br>
        <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">Fullstack-developer</div></div>
        <br><br>
        <div class="fs-3 fw-light text-muted">The best way to understand anyshing is to try and do it</div>
        <h2 class="display-5 fw-bolder"><span class="text-gradient">Efficiency and professionalism are my credo</span></h2>
    </div>

</div>
<div class="text-center my-5">
    <h2 class="display-5 fw-bolder"><span class="text-gradient">About Me</span></h2>
    <p class="lead fw-light mb-4">{{about}}</p>
</div>
    <!-- Skillset Card-->
    <div class="card shadow border-0 rounded-4 mb-5">
        <div class="card-body p-5">
            <!-- Professional skills list for-->
            <div class="mb-5">
                <div class="d-flex align-items-center mb-4">
                    <div class="text-gradient text-white rounded-3 me-3"><i class="bi bi-calendar-check"></i></div>
                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Experience</span></h3>
                </div>
                @if(isExperience){
                    <div class="d-flex align-items-center bg-light p-3 h-100">I have more than 1 year of experience in an IT company</div>
                }
                @else{
                    <div class="d-flex align-items-center bg-light p-3 h-100">I have no work experience</div> 
                }
           </div>

            <div class="mb-5">
                <div class="d-flex align-items-center mb-4">
                    <div class="text-gradient text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Technologies</span></h3>
                </div>
                
               <div class="row row-cols-1 row-cols-md-3 mb-4" ng-repeat = "i in rangeTechnologies">
                    @for(item of technologies; track item){
                    <div class="d-flex align-items-center bg-light p-3 h-100">{{item}}</div>
                    }
               </div>

            </div>

            <!-- Languages list for-->
            <div class="mb-5">
                <div class="d-flex align-items-center mb-4">
                    <div class="feature bg-primary text-gradient text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                </div>

                <div class="row row-cols-1 row-cols-md-3 mb-4" ng-repeat = "i in rangeLanguages">
                    @for(item of languages; track item){
                        <div class="d-flex align-items-center bg-light p-3 h-100">{{item}}</div>
                    }
                </div>
            </div>
        </div>
    </div>
    
<div class="d-flex justify-content-center fs-2 gap-4">
    <a class="text-gradient" href="https://wa.me/79054546866"><i class="bi bi-whatsapp"></i></a>
    <a class="text-gradient" href="https://t.me/sulin_art"><i class="bi bi-telegram"></i></a>
    <a class="text-gradient" href="https://github.com/Yushinova"><i class="bi bi-github"></i></a>
</div>